/* Home.css */
.home-container {
    position: relative; /* Contenedor principal */
  }
  
  .image-container {
    position: relative; /* Contenedor de la imagen */
  }
  
  .banner {
    width: 100%; /* Ajusta la imagen al 100% del contenedor */
    height: 500px; /* Mantiene la relación de aspecto */
  }
  
  .text-overlay {
    position: absolute;
    top: 20%; /* Ajusta la posición vertical */
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    display: flex; /* Añadido para organizar en columna */
    flex-direction: column; /* Ordena los elementos en columna */
    align-items: center; /* Centra los elementos */

}


  h1 {
    margin: 10px 0; /* Espacio entre los títulos */
    font-size: 50px;
  }
  
  h2 {
    margin: 10px 0; /* Espacio entre los títulos */
  }
  
  .button {
    margin: 10px 0; /* Espacio entre los títulos */

  }

  .register-button {
    display: inline-block; /* Cambiado a inline-block para que el ancho se ajuste al contenido */
    margin: 20px auto; /* Centrado horizontalmente */
    padding: 10px 20px; /* Tamaño del botón */
    background-color: #007BFF; /* Color de fondo del botón */
    color: white; /* Color del texto */
    text-decoration: none; /* Elimina el subrayado del enlace */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    font-size: 16px; /* Tamaño del texto */
    transition: background-color 0.3s; /* Transición suave para el fondo */
    width: auto; /* Permite que el botón se ajuste al tamaño del contenido */
    max-width: 200px; /* Limita el ancho máximo del botón */
}


.register-button:hover {
    background-color: #0056b3; /* Color de fondo al pasar por encima */
}
