/* Home.css */
.home-container {
    position: relative; /* Contenedor principal */
  }
  
  .image-container {
    position: relative; /* Contenedor de la imagen */
  }
  
  .banner {
    width: 100%; /* Ajusta la imagen al 100% del contenedor */
    height: 500px; /* Mantiene la relación de aspecto */
  }
  
  .text-overlay {
    position: absolute;
    top: 20%; /* Ajusta la posición vertical */
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    display: flex; /* Añadido para organizar en columna */
    flex-direction: column; /* Ordena los elementos en columna */
    align-items: center; /* Centra los elementos */

}


h1 {
  margin-top: 30px; 
  margin-bottom:10px ;
  font-size: 50px;
}

h2 {
  margin-top: 1px; /* Ajusta solo el margen superior */
}

  
  .button {
    margin: 30px 0; /* Espacio entre los títulos */

  }

  .register-button {
    display: block; /* Hace que el botón ocupe toda la línea */
    margin: 20px auto; /* Centra el botón horizontalmente */
    padding: 10px 20px;
    background-color: #478ccf;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    max-width: 100px;
    text-align: center;
}

.register-button:hover {
    background-color: #0056b3;
}
