/* Estilos generales */
/*body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}*/
*, *::before, *::after {
    box-sizing: border-box;
}
/* Contenedor del formulario */
/* Contenedor que centra todo */
.form-wrapper {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 100vh; /* Ocupa toda la altura de la ventana */
}

/* Contenedor principal del formulario */
.form-container {
    display: flex;
    flex-direction: column; /* Coloca los elementos en columna */
    align-items: center; /* Centra horizontalmente */
    justify-content: center; /* Centra verticalmente */
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 30px;
    width: 350px; /* Ajusta el ancho según sea necesario */
    height: auto; /* Asegúrate de que el alto se ajuste al contenido */
    margin: 0 auto; /* Centra el contenedor en la página */
}

/* Estilos del formulario */
.auth-form {
    display: flex;
    flex-direction: column;
    width: 100%; /* Asegura que el formulario use el ancho completo del contenedor */
}

.auth-form label {
    margin-bottom: 5px;
    font-size: 14px;
    color: #333;
    text-align: left; /* Alinea el texto a la izquierda */
}

.auth-form input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    width: 100%; /* Asegura que los inputs usen el ancho completo */
}

/* Botón de envío */
.submit-btn {
    background-color: #478ccf;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%; /* Asegura que el botón use el ancho completo */
    margin-top: 10px; /* Espacio superior entre el botón y el formulario */
}

.submit-btn:hover {
    background-color: #1a5fcc;
}

.submit-btn:disabled {
    background-color: #ddd;
    cursor: not-allowed;
}

/* Mensaje de error */
.auth-form p {
    margin-top: 10px;
    font-size: 14px;
    color: red; /* Color rojo para el mensaje de error */
}

/* Estilos de la imagen de inicio de sesión */
.login-image {
    width: 100% !important; /* Ajustar según sea necesario */
    height: auto !important; /* Mantener la proporción */
    margin-bottom: 20px; /* Espacio entre la imagen y el formulario */
    border-radius: 8px; /* Bordes redondeados (opcional) */
}
