/* Navbar.css */

.navbar {
    background-color: #ffffff; /* Color de fondo blanco */
    height: 50px; /* Establece el alto del Navbar */
    padding: 0 20px; /* Ajusta el padding lateral */
    display: flex;
    align-items: center;
    justify-content: space-between; /* Asegura espacio entre el logo y los botones */
}

.navbar-logo {
    display: flex;
    align-items: center; /* Centra verticalmente el logo */
    justify-content: flex-start; /* Alinea el logo hacia la izquierda */
}

  
.logo-img {
    height: 300px; /* Ajusta la altura del logo */
    width: auto; /* Mantiene la relación de aspecto */
    margin-left: -30px;
}
  
.nav-buttons {
    display: flex; /* Usa flexbox para los botones */
    gap: 15px; /* Espacio entre los botones */
}
  
/* Aumentar la especificidad del selector para los botones */
.navbar .nav-buttons a {
    color: #478ccf !important; /* Cambia el color */
    text-decoration: none; /* Elimina el subrayado */
    border-radius: 5px; /* Hace el enlace redondeado */
    padding: 10px 15px;
    display: inline-block; /* Hace que el enlace respete el padding */
    background-color: #478ccf; /* Fondo transparente por defecto */
    transition: background-color 0.3s;
    color: white !important; /* Cambia el color del texto al pasar por encima */
}

.navbar .nav-buttons a:hover {
    background-color: #5ba0eb; /* Cambia el fondo al pasar por encima */
    color: white !important; /* Cambia el color del texto al pasar por encima */
}

